@import "../../../../scss/import";

div.products {
  table {
    td, th {
      background: $normal-color;
      border-color: $normal-color;
      padding: 4px 16px;
    }
  }
  div.ant-table-placeholder {
    background: $normal-color;
    padding: 4px 16px;
  }
}
